In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q1. Pandas version
* What version of Pandas did you install?

In [5]:
pd.__version__

'2.3.1'

## Q2. Records count
- How many records are in the dataset?

In [4]:
df.index

RangeIndex(start=0, stop=9704, step=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

## Q3. Fuel types
* How many fuel types are presented in the dataset?

In [7]:
df.fuel_type.nunique()

2

In [8]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

## Q4. Missing values
* How many columns in the dataset have missing values?

In [9]:
df.isnull().values.any().item()

True

In [10]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [11]:
df.isnull().sum()[df.isnull().sum() > 0].reset_index(name='Missing Count')

           index  Missing Count
0  num_cylinders            482
1     horsepower            708
2   acceleration            930
3      num_doors            502

## Q5. Max fuel efficiency
* What's the maximum fuel efficiency of cars from Asia?

In [12]:
df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max().item()

23.759122836520497

In [13]:
df.loc[df["origin"] == "Asia", "fuel_efficiency_mpg"].max().round(2).item()

23.76

## Q6. Median value of horsepower
1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

In [14]:
df["horsepower"].median().item()

149.0

In [15]:
# df["horsepower"].mode()[0]  #takes the first element of the series
df["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [16]:
df["horsepower"] = df["horsepower"].fillna(152)

In [17]:
new_median = df["horsepower"].median().item()
print("New Median Value:",new_median)

New Median Value: 152.0

## Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

**Note:** You just implemented linear regression. We'll talk about it in the next lesson.

In [30]:
df_asia = df[df["origin"] == "Asia"].reset_index(drop=True)

In [34]:
df_asia_sub = df_asia[["vehicle_weight", "model_year"]].head(7)
df_asia_sub

   vehicle_weight  model_year
0     2714.219310        2016
1     2783.868974        2010
2     3582.687368        2007
3     2231.808142        2011
4     2659.431451        2016
5     2844.227534        2014
6     3761.994038        2019

In [35]:
X = df_asia_sub.values

In [36]:
XTX = X.T.dot(X)

In [38]:
XTX_inverse = np.linalg.inv(XTX)

In [39]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [42]:
w = XTX_inv.dot(X.T).dot(y)
w

array([0.01386421, 0.5049067 ])

In [43]:
w_sum = w.sum()
print(w_sum)

0.5187709081074016